body{
margin: 0%; 
font-family: 'Roboto', sans-serif;
}
.Header{/*стиль для кл header*/
 background-image: url("Фото/1671065741_1-zefirka-club-p-fon-dlya-shapki-saita-1 (1).jpg");
background-size: cover;
color: white;
background-color: light gray;
}
.name {
text-transform: uppercase;
}
.main-menu{
    font-size: 30px;
font-weight: bold;
padding: 20px 0;
}
.main-menu a{/*применение для всех а, входящих в класс main-menu*/
color: white;
text-decoration: none;
}

.main-menu a:hover{
color: light gray;
transition: 0.5s;
}
.btn{
    text-decoration: none;
    color: burgundy;
    font-weight: regular;
    border: 15px solid grey;
    padding: solid gray 15px;
    border-radius: 15px;
 
}
